ML regression is a technique used to predict continuous numerical values based on input data. 

It is widely used in various fields such as, finance, healthcare, and weather forecasting. 

In this tutorial, we will cover the basics of regression, including the different types of regression algorithms and the steps involved in building a regression model.

Types of regression algorithms 

Popular ones are...

1.Linear regression
Linear Regression models the relationship between the input variables (X) and the output variable (Y) by fitting a linear equation to the data. It will assume a linear relationship between the variables and tries to minimize the errors between the predicted and actual values.
y=ax+b

x is independent variable
a is slope of line of best fit
b is intercept
a and b are known as regression coefficients

2.Decision Tree regression
Decision Tree regression builds a model that resembles a tree like structure with leaf nodes in them and takes the probability of each output. It splits the data based on different conditions and predicts the average value of the target values in each leaf node. 

3.Random Forest regression
Random Forest regression is an ensembling learning method that combines multiple decision tree regressors. It creates a forest of decision trees and averages the predictions of each tree to obtain the final result.

Steps to build a regression model
1. Data preparation
Gather and prepare data for regression. Ensure that you have a target variable Y and independent or input variables X. If necessary perform data cleaning, handling missing values, and encoding categorical variables.

2. Splitting the data
Next, split the dataset into two parts: a training set and a test set. A common split is 70-80% for training set and 20-30% for test set

3. Feature scaling (optional)
Depending on the regression algorithm, you choose, you may need to perform feature scaling. Feature scaling ensures that all input variables are on a similar scale, preventing some variables from dominating the others. Common scaling techniques include standardization (subtracting the mean and dividing by the standard deviation) and normalization (scaling values to a range between 0 and 1).

4. Model training
Train the regression model using the training data. Linear regression model estimates the coefficients that minimize the difference between the predicted and actual values. In decision regression model recursively splits the data based on conditions. 

5. Model evaluation
Once the model is trained, it is important to evaluate its performance using the test data. Common evaluation metrics for regression include mean squared error (MSE),root mean squared error (RMSE), mean absolute error (MAE) and R-square (coeff. of determination)

6. Model Fine-tuning (optional)
If the model's performance is not satisfactory, you can fine-tune it by adjusting hyperparameters. Hyperparameters are settings that control the learning process, such as the maximum depth of a decision tree or the number of trees in a random forest. Use the techniques like cross-validation or grid search to find the optimal hyperparameter values. 

7. Model deployment 
Once you are satisfied with model performance, deploy it and make predictions on new, unseen data.

In [1]:
import pandas as pd

df = pd.read_csv('cars.csv')
df

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,"2,011",Silver,2.20,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,"2,012",Silver,3.50,Nigerian Used,"125,000"
2,VHL19499,Lagos,Lexus,RX 350,"2,010",Red,9.20,Foreign Used,"110,852"
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,"2,017",Blue,22.80,Foreign Used,"30,000"
4,VHL12170,Ibadan,Toyota,Highlander,"2,002",Red,2.60,Nigerian Used,"125,206"
...,...,...,...,...,...,...,...,...,...
7200,VHL14329,Abuja,Honda,Civic,"2,018",Gray,5.70,Foreign Used,"65,000"
7201,VHL10637,Abuja,BMW,X3,"2,007",White,4.00,Nigerian Used,"200,000"
7202,VHL19734,Abuja,Toyota,RAV4 2.5 Limited 4x4,"2,010",Black,2.85,Nigerian Used,NaN
7203,VHL15569,Lagos,Mercedes-Benz,GLK-Class 350,"2,012",Black,8.65,Foreign Used,"85,750"
7204,VHL15246,Abuja,Honda,Accord Crosstour,"2,012",Gray,3.38,Nigerian Used,"83,308"

In [2]:
#cleaning the data
df['Year']=df.Year.str.replace(',','')
df['Distance']=df.Distance.str.replace(',','')

In [3]:
df.head()

,VehicleID,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,VHL12546,Abuja,Honda,Accord Coupe EX V-6,2011,Silver,2.2,Nigerian Used,NaN
1,VHL18827,Ibadan,Hyundai,Sonata,2012,Silver,3.5,Nigerian Used,125000
2,VHL19499,Lagos,Lexus,RX 350,2010,Red,9.2,Foreign Used,110852
3,VHL17991,Abuja,Mercedes-Benz,GLE-Class,2017,Blue,22.8,Foreign Used,30000
4,VHL12170,Ibadan,Toyota,Highlander,2002,Red,2.6,Nigerian Used,125206

In [4]:
df.describe()

       Amount (Million Naira)
count             7188.000000
mean                11.847999
std                 25.318922
min                  0.450000
25%                  3.500000
50%                  5.650000
75%                 11.662500
max                456.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7184 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7188 non-null   float64
 7   Type                    7008 non-null   object
 8   Distance                4845 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [6]:
df.isna().sum()

VehicleID                    0
Location                     0
Maker                        0
Model                        0
Year                        21
Colour                       0
Amount (Million Naira)      17
Type                       197
Distance                  2360
dtype: int64

In [7]:
df['Year'].fillna(df['Year'].median(),inplace=True)
df['Amount (Million Naira)'].fillna((df['Amount (Million Naira)'].median()),inplace=True)

In [8]:
df['Type'].fillna(method='ffill',inplace=True)

In [9]:
df['Distance'].fillna(df['Distance'].median(),inplace=True)

In [10]:
df.isna().sum()

VehicleID                 0
Location                  0
Maker                     0
Model                     0
Year                      0
Colour                    0
Amount (Million Naira)    0
Type                      0
Distance                  0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   object
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7205 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                7205 non-null   object
dtypes: float64(1), object(8)
memory usage: 506.7+ KB

In [12]:
df.describe()

       Amount (Million Naira)
count             7205.000000
mean                11.833375
std                 25.290819
min                  0.450000
25%                  3.500000
50%                  5.650000
75%                 11.500000
max                456.000000

In [13]:
df['Distance']=df.Distance.astype(float)
df['Year'] = df.Year.astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   int64
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7205 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                7205 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 506.7+ KB

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7205 entries, 0 to 7204
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   VehicleID               7205 non-null   object
 1   Location                7205 non-null   object
 2   Maker                   7205 non-null   object
 3   Model                   7205 non-null   object
 4   Year                    7205 non-null   int64
 5   Colour                  7205 non-null   object
 6   Amount (Million Naira)  7205 non-null   float64
 7   Type                    7205 non-null   object
 8   Distance                7205 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 506.7+ KB

In [16]:
df.drop(['VehicleID'],axis=1,inplace=True)

In [17]:
df.head()

,Location,Maker,Model,Year,Colour,Amount (Million Naira),Type,Distance
0,Abuja,Honda,Accord Coupe EX V-6,2011,Silver,2.2,Nigerian Used,80830.0
1,Ibadan,Hyundai,Sonata,2012,Silver,3.5,Nigerian Used,125000.0
2,Lagos,Lexus,RX 350,2010,Red,9.2,Foreign Used,110852.0
3,Abuja,Mercedes-Benz,GLE-Class,2017,Blue,22.8,Foreign Used,30000.0
4,Ibadan,Toyota,Highlander,2002,Red,2.6,Nigerian Used,125206.0

In [18]:
categ_col = df.select_dtypes(include=['object','category']).columns

In [19]:
categ_col

Index(['Location', 'Maker', 'Model', 'Colour', 'Type'], dtype='object')

In [20]:
df.Location.unique()

array(['Abuja', 'Ibadan', 'Lagos'], dtype=object)

In [21]:
df.Maker.unique()

array(['Honda', 'Hyundai', 'Lexus', 'Mercedes-Benz', 'Toyota', 'Acura',
       'Dodge', 'Nissan', 'Kia', 'BMW', 'Volvo', 'Ford', 'Land Rover',
       'Lincoln', 'Peugeot', 'Chevrolet', 'Audi', 'Jaguar', 'Infiniti',
       'Porsche', 'Fiat', 'Maserati', 'Volkswagen', 'Suzuki', 'Bentley',
       'GAC', 'Mazda', 'Scion', 'Renault', 'Mitsubishi', 'Mini',
       'Pontiac', 'Cadillac', 'Ferrari', 'Jeep', 'Buick', 'Rolls-Royce',
       'GMC', 'Chrysler', 'Lamborghini', 'Citroen', 'King', 'BAW',
       'Saturn', 'Tata', 'Opel', 'JAC', 'MG', 'Hummer', 'Subaru', 'Rover',
       'Saab', 'Skoda', 'IVM', 'Brabus'], dtype=object)

In [22]:
df.Model.unique()

array(['Accord Coupe EX V-6', 'Sonata', 'RX 350', ..., 'Almera 1.6 Lux',
       'X5 3.0i Sports Activity', '320i SV Premium'], dtype=object)

In [23]:
df.Colour.unique()

array(['Silver', 'Red', 'Blue', 'Black', 'Gold', 'White', 'Gray',
       'Burgandy', 'Green', 'Violet', 'Brown', 'Yellow', 'Orange', 'Pink',
       'Beige', 'Purple', 'Ivory', 'G', 'Teal', 'Mica', 'Pearl'],
      dtype=object)

In [24]:
df.Type.unique()

array(['Nigerian Used', 'Foreign Used', 'Brand New'], dtype=object)

In [25]:
Encoding
Label Encoding and One Hot Encoding are both popular methods used to convert categorical variables into numerical.

1. Label Encoding
It is a technique where each unique category in a categorical variable is assigned a numerical label. 
These labels are usually assigned in ascending order starting from 0 or 1. It is suitable when the cateogrical variable has an inherent order or ranking.
For example, low, medium, and high can be encoded as 0,1,2 repsectively. However, if there is no meaningful order in the categories using Label encoding can lead to incorrect assumptions by the model, as it may interpret the numerical labels as having a specific order.
No increase in dimensionality. Easily interpretable because it corresponds to a specific category. Choose this one when there is an inherent order or ranking among the categories 

2. One Hot Encoding
It is a technique where each unique category in a categorical variable is converted into a new binary column or dummy variable.
Each binary column represents a single category and has a value of 1 if the category is present and 0 otherwise.
It is suitable when there is no inherent order or ranking among the categories, and each category is treated independently. It prevents the model from assuming any ordinal relationship between the categories.
One hot encoding increases the dimensionality of the data, as it introduces new binary columns for each category. 
THIS CAN BE BENEFICIAL FOR SOME ML ALGORITHMS THAT REQUIRE NUMERICAL INPUTS. This one is often prefered for algorithms that expect numerical inputs and when there is no inherent order among the categories. 
One hot encoding provides a more explicit representation of each category but can result in more complex and redundant representations especially when dealing with many categories.

SyntaxError: invalid syntax (<ipython-input-25-3bd95a2867a3>, line 2)

In [26]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

#one hot encoding
new_df = pd.get_dummies(df)
new_df

,Year,Amount (Million Naira),Distance,Location_Abuja,Location_Ibadan,Location_Lagos,Maker_Acura,Maker_Audi,Maker_BAW,Maker_BMW,...,Colour_Purple,Colour_Red,Colour_Silver,Colour_Teal,Colour_Violet,Colour_White,Colour_Yellow,Type_Brand New,Type_Foreign Used,Type_Nigerian Used
0,2011,2.20,80830.0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,2012,3.50,125000.0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2010,9.20,110852.0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,2017,22.80,30000.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,2002,2.60,125206.0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7200,2018,5.70,65000.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7201,2007,4.00,200000.0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
7202,2010,2.85,80830.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7203,2012,8.65,85750.0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7204,2012,3.38,83308.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [27]:
col = list(new_df.columns)
col

['Year',
 'Amount (Million Naira)',
 'Distance',
 'Location_Abuja',
 'Location_Ibadan',
 'Location_Lagos',
 'Maker_Acura',
 'Maker_Audi',
 'Maker_BAW',
 'Maker_BMW',
 'Maker_Bentley',
 'Maker_Brabus',
 'Maker_Buick',
 'Maker_Cadillac',
 'Maker_Chevrolet',
 'Maker_Chrysler',
 'Maker_Citroen',
 'Maker_Dodge',
 'Maker_Ferrari',
 'Maker_Fiat',
 'Maker_Ford',
 'Maker_GAC',
 'Maker_GMC',
 'Maker_Honda',
 'Maker_Hummer',
 'Maker_Hyundai',
 'Maker_IVM',
 'Maker_Infiniti',
 'Maker_JAC',
 'Maker_Jaguar',
 'Maker_Jeep',
 'Maker_Kia',
 'Maker_King',
 'Maker_Lamborghini',
 'Maker_Land Rover',
 'Maker_Lexus',
 'Maker_Lincoln',
 'Maker_MG',
 'Maker_Maserati',
 'Maker_Mazda',
 'Maker_Mercedes-Benz',
 'Maker_Mini',
 'Maker_Mitsubishi',
 'Maker_Nissan',
 'Maker_Opel',
 'Maker_Peugeot',
 'Maker_Pontiac',
 'Maker_Porsche',
 'Maker_Renault',
 'Maker_Rolls-Royce',
 'Maker_Rover',
 'Maker_Saab',
 'Maker_Saturn',
 'Maker_Scion',
 'Maker_Skoda',
 'Maker_Subaru',
 'Maker_Suzuki',
 'Maker_Tata',
 'Maker_Toyota',
 'Maker_Volkswagen',
 'Maker_Volvo',
 'Model_1117',
 'Model_120i',
 'Model_128i',
 'Model_200',
 'Model_206',
 'Model_206 GTi 180',
 'Model_206 SW',
 'Model_207',
 'Model_220',
 'Model_3 1.6 Sport Original',
 'Model_3 2.5 S Sport Hatchback',
 'Model_3 Series',
 'Model_3008',
 'Model_300C',
 'Model_300C Base AWD',
 'Model_306',
 'Model_307',
 'Model_307 1.6 Premium',
 'Model_307 X-Line 1.6',
 'Model_308 CC 1.6',
 'Model_318i',
 'Model_320i',
 'Model_320i SV Premium',
 'Model_325i',
 'Model_328i',
 'Model_330i',
 'Model_335i',
 'Model_4-Runner',
 'Model_4-Runner 4.7',
 'Model_4-Runner Limited',
 'Model_4-Runner Limited 2WD',
 'Model_4-Runner Limited 4WD',
 'Model_4-Runner Limited 4X2',
 'Model_4-Runner Limited 4X4',
 'Model_4-Runner Limited 4x4',
 'Model_4-Runner Limited 4x4 V6',
 'Model_4-Runner Limited 4x4 V8',
 'Model_4-Runner Limited V6',
 'Model_4-Runner Limited V6 4x4',
 'Model_4-Runner Limited V8',
 'Model_4-Runner SR5 2WD',
 'Model_4-Runner SR5 4X4',
 'Model_4-Runner SR5 V6',
 'Model_4-Runner SR5 V8',
 'Model_4-Runner SR5 V8 4x4',
 'Model_4-Runner Sport Edition',
 'Model_4-Runner Sport Edition 4x4 V6',
 'Model_4-Runner Sport Edition V6',
 'Model_4-Runner Sport Edition V6 4x4',
 'Model_406',
 'Model_406 1.8',
 'Model_406 2.2 Coupe',
 'Model_406 Break 2.0i',
 'Model_406 Coupe',
 'Model_407',
 'Model_407 2 Automatic',
 'Model_407 2 Esplanade',
 'Model_407 2.2 Coupe',
 'Model_408',
 'Model_44807',
 'Model_5 Series',
 'Model_5 Touring',
 'Model_5008',
 'Model_504',
 'Model_508',
 'Model_523i',
 'Model_525i',
 'Model_528i',
 'Model_530i',
 'Model_535i',
 'Model_540i',
 'Model_6',
 'Model_6 I Sport',
 'Model_6 Series',
 'Model_607',
 'Model_626',
 'Model_6800',
 'Model_7 Series',
 'Model_807',
 'Model_A-Class',
 'Model_A3',
 'Model_A4',
 'Model_A4 1.8 TSFI Automatic',
 'Model_A4 2.0T Premium',
 'Model_A4 3 TDI Automatic',
 'Model_A5',
 'Model_A6 3.0T Premium AWD Quattro',
 'Model_A8',
 'Model_A8 4 TDi Quattro',
 'Model_A8 4.2 Quattro',
 'Model_AMG GT',
 'Model_ASX',
 'Model_Acadia SLE-2 FWD',
 'Model_Acadia SLT-1 AWD',
 'Model_Accent',
 'Model_Accent 1.6',
 'Model_Accent GLS',
 'Model_Accent Value Edition',
 'Model_Accord',
 'Model_Accord 2 Comfort Automatic',
 'Model_Accord 2 I-Vtec Automatic',
 'Model_Accord 2 Sedan Automatic',
 'Model_Accord 2.0i Automatic',
 'Model_Accord 2.4',
 'Model_Accord 2.4 Automatic',
 'Model_Accord 2.4 EX',
 'Model_Accord 2.4 EX Automatic',
 'Model_Accord 2.4 EX-L',
 'Model_Accord 2.4 Exec Automatic',
 'Model_Accord 2.4 Executive',
 'Model_Accord 2.4 LX Automatic',
 'Model_Accord 2.4 Type S',
 'Model_Accord 2.4 Type S Automatic',
 'Model_Accord 2.4 i-VTEC Exec Automatic',
 'Model_Accord 3.5 EX Automatic',
 'Model_Accord 3.5 EX-L Automatic',
 'Model_Accord Automatic',
 'Model_Accord Coupe EX V-6',
 'Model_Accord Coupe EX-L',
 'Model_Accord Coupe EX-L V-6 Automatic',
 'Model_Accord CrossTour',
 'Model_Accord CrossTour EX-L',
 'Model_Accord CrossTour EX-L AWD',
 'Model_Accord Crosstour',
 'Model_Accord Crosstour EX',
 'Model_Accord Crosstour EX-L',
 'Model_Accord Crosstour EX-L AWD',
 'Model_Accord Crosstour EX-L W/Navigation AWD',
 'Model_Accord EX',
 'Model_Accord EX-L',
 'Model_Accord EX-L 2.0T',
 'Model_Accord LX',
 'Model_Accord Sedan EX',
 'Model_Accord Sedan EX Automatic',
 'Model_Accord Sedan EX V-6',
 'Model_Accord Sedan EX-L',
 'Model_Accord Sedan EX-L Automatic',
 'Model_Accord Sedan EX-L V-6',
 'Model_Accord Sedan LX Automatic',
 'Model_Accord Sedan LX V6 Automatic',
 'Model_Accord Sport 1.5T',
 'Model_Accord Sport 2.0T',
 'Model_Accord Touring',
 'Model_Accord Touring 2.0T',
 'Model_Allion',
 'Model_Almera',
 'Model_Almera 1.6 Comfort',
 'Model_Almera 1.6 Lux',
 'Model_Almera 1.6 Lux Automatic',
 'Model_Almera Tino',
 'Model_Almera Tino 1.8',
 'Model_Altima',
 'Model_Altima 2.5 S Sedan',
 'Model_Altima Sedan 3.5 S',
 'Model_Alto',
 'Model_Atos',
 'Model_Attrage',
 'Model_Avalanche',
 'Model_Avalon',
 'Model_Avalon Limited',
 'Model_Avalon Limited (3.5L 6cyl 6A)',
 'Model_Avalon Off',
 'Model_Avalon TRD',
 'Model_Avalon Touring',
 'Model_Avalon XL',
 'Model_Avalon XLE (3.5L 6cyl 6A)',
 'Model_Avalon XLS',
 'Model_Avalon XSE',
 'Model_Avanza',
 'Model_Avenger Mainstreet',
 'Model_Avensis',
 'Model_Avensis 1.8',
 'Model_Avensis 1.8 Sedan',
 'Model_Avensis 2 Advanced',
 'Model_Avensis 2 Advanced Automatic',
 'Model_Avensis 2 D Verso',
 'Model_Avensis 2 D-4d Executive',
 'Model_Avensis 2.2 D-4d Exclusive',
 'Model_Avensis Verso 2 Petrol',
 'Model_Avensis Wagon',
 'Model_Avensis Wagon 1.6 VVT-i',
 'Model_Avensis Wagon 2 D4 VVT-i',
 'Model_Aveo LS',
 'Model_Azera 3.3L',
 'Model_B-Class',
 'Model_BMW 7 Series',
 'Model_BMW M5 Off',
 'Model_BMW M7',
 'Model_BMW X6',
 'Model_Beetle',
 'Model_Beetle 2.5',
 'Model_Bentley Bentayga W12 AWD',
 'Model_Bentley Mulsanne Base Ext WB',
 'Model_Berlingo',
 'Model_Brabus Rocket 900',
 'Model_C-Class',
 'Model_C-Class C 300 (W204)',
 'Model_C-Class C 300 CDI 4MATIC (S204)',
 'Model_C-Class C 300 CDI 4MATIC (W204)',
 'Model_C-Class C 350 (C204)',
 'Model_C-Class C 43 4MATIC AMG (C205)',
 'Model_C-HR',
 'Model_C-Hr',
 'Model_C-Hr Limited FWD',
 'Model_C-Hr XLE FWD',
 'Model_C-Max',
 'Model_C180',
 'Model_C180 Off',
 'Model_C200',
 'Model_C230',
 'Model_C240',
 'Model_C240 Matt',
 'Model_C250',
 'Model_C280',
 'Model_C300',
 'Model_C300 Off',
 'Model_C320',
 'Model_C350',
 'Model_C4',
 'Model_C400',
 'Model_C43',
 'Model_C450',
 'Model_C63',
 'Model_C70 Automatic',
 'Model_CC',
 'Model_CC 2 Luxury Limited PZEV',
 'Model_CC Sport',
 'Model_CC VR6 4Motion',
 'Model_CL 500 Coupe Automatic',
 'Model_CLA-Class',
 'Model_CLA-Class Base CLA 250 AWD 4MATIC',
 'Model_CLC',
 'Model_CLK',
 'Model_CLK 350 Coupe',
 'Model_CLK 500 Coupe',
 'Model_CLK Cabriolet',
 'Model_CLS',
 'Model_CLS 550',
 'Model_CLS 550 4MATIC',
 'Model_CR-V',
 'Model_CR-V 2',
 'Model_CR-V 2 4WD Automatic',
 'Model_CR-V 2 Automatic',
 'Model_CR-V 2 RVi',
 'Model_CR-V 2.0i Executive',
 'Model_CR-V 2.4',
 'Model_CR-V EX 4WD Automatic',
 'Model_CR-V EX 4dr SUV (2.4L 4cyl 5A)',
 'Model_CR-V EX Automatic',
 'Model_CR-V EX-L 4WD Automatic',
 'Model_CR-V EX-L AWD',
 'Model_CR-V LX Automatic',
 'Model_CR-V Touring AWD',
 'Model_CT',
 'Model_CT Base FWD',
 'Model_CTS',
 'Model_CX-7',
 'Model_CX-7 Grand Touring 4WD',
 'Model_CX-9',
 'Model_CX-9 Grand Touring',
 'Model_CX-9 Grand Touring Off',
 'Model_CX-9 Sport AWD',
 'Model_CX-9 Touring AWD',
 'Model_Cadenza',
 'Model_Cadillac Escalade',
 'Model_Caliber',
 'Model_Caliber 2 CVT SXT',
 'Model_Caliber 2.4 R/T',
 'Model_Camaro',
 'Model_Camaro LT Coupe Automatic',
 'Model_Camry',
 'Model_Camry 2.3',
 'Model_Camry 2.3 Hybrid',
 'Model_Camry 2.4 CE Automatic',
 'Model_Camry 2.4 GLi Automatic',
 'Model_Camry 2.4 LE',
 'Model_Camry 2.4 SE',
 'Model_Camry 2.4 SE Automatic',
 'Model_Camry 2.4 WT-i',
 'Model_Camry 2.4 XLE',
 'Model_Camry 2.4 XLi Automatic',
 'Model_Camry 3.5 LE',
 'Model_Camry 3.5 XLE',
 'Model_Camry Automatic',
 'Model_Camry Hybrid',
 'Model_Camry L FWD (2.5L 4cyl 8AM)',
 'Model_Camry LE (2.5L 4cyl 8A)',
 'Model_Camry LE FWD',
 'Model_Camry LE FWD (2.5L 4cyl 8AM)',
 'Model_Camry Matt',
 'Model_Camry SE (2.5L 4cyl 8A)',
 'Model_Camry SE FWD',
 'Model_Camry SE FWD (2.5L 4cyl 8AM)',
 'Model_Camry Station Wagon',
 'Model_Camry V6',
 'Model_Camry XLE (2.5L 4cyl 8A)',
 'Model_Camry XLE V6 FWD',
 'Model_Camry XSE (2.5L 4cyl 8A)',
 'Model_Camry XSE FWD',
 'Model_Camry XSE FWD (2.5L 4cyl 8AM)',
 'Model_Camry XSE V6 (3.5L V6 8A)',
 'Model_Camry XSE V6 FWD',
 'Model_Caravan',
 'Model_Caravan Cargo Van',
 'Model_Carens',
 'Model_Cayenne',
 'Model_Cayenne 3.6 Automatic',
 'Model_Cayenne GTS',
 'Model_Cayenne S Automatic',
 'Model_Cayenne Turbo',
 'Model_Cerato',
 'Model_Challenger',
 'Model_Challenger R/T CLASSIC',
 'Model_Charger',
 'Model_Charger R/T AWD',
 'Model_Charger SRT8',
 'Model_Charger SXT',
 'Model_Cherokee Limited 4x4',
 'Model_Chevrolet Corvette',
 'Model_City',
 'Model_Civic',
 'Model_Civic 1.4',
 'Model_Civic 1.4 3 Door Automatic',
 'Model_Civic 1.4i Sport Automatic',
 'Model_Civic 1.7 CTDi S',
 'Model_Civic 1.8 DX Automatic',
 'Model_Civic 1.8 EX Automatic',
 'Model_Civic 1.8 EX-L Automatic',
 'Model_Civic 1.8i VTEC',
 'Model_Civic 1.8i-VTEC EXi Automatic',
 'Model_Civic EX Hatchback',
 'Model_Civic EX-L Coupe',
 'Model_Civic EX-L Sedan',
 'Model_Civic Hybrid',
 'Model_Civic LX Coupe Automatic',
 'Model_Civic LX Sedan Automatic',
 'Model_Civic Sedan EX',
 'Model_Civic Sedan EX Automatic',
 'Model_Coaster',
 'Model_Commander',
 'Model_Commander Limited 4x4',
 'Model_Commercial',
 'Model_Compass',
 'Model_Compass Limited',
 'Model_Continental',
 'Model_Continental Off',
 'Model_Cooper',
 'Model_Cooper CVT Automatic',
 'Model_Cooper John Cooper Works',
 'Model_Cooper S',
 'Model_Corolla',
 'Model_Corolla 1.3 Liftback',
 'Model_Corolla 1.4',
 'Model_Corolla 1.4 Advanced',
 'Model_Corolla 1.4 D Automatic',
 'Model_Corolla 1.4 Off',
 'Model_Corolla 1.4 Sol Combi',
 'Model_Corolla 1.4 VVT-i',
 'Model_Corolla 1.6 GLS',
 'Model_Corolla 1.6 Hatchback',
 'Model_Corolla 1.6 VVT-i',
 'Model_Corolla 1.8',
 'Model_Corolla 1.8 Advanced',
 'Model_Corolla 1.8 CE',
 'Model_Corolla 1.8 LE',
 'Model_Corolla 1.8 VVTL-i TS',
 'Model_Corolla Automatic',
 'Model_Corolla CE',
 'Model_Corolla L (1.8L 4cyl 2A)',
 'Model_Corolla L 4-Speed Automatic',
 'Model_Corolla LE',
 'Model_Corolla LE (1.8L 4cyl 2A)',
 'Model_Corolla Liftback',
 'Model_Corolla S',
 'Model_Corolla SE',
 'Model_Corolla Sedan',
 'Model_Corolla Sedan Automatic',
 'Model_Corolla Verso',
 'Model_Corolla Verso 1.8',
 'Model_Corolla Verso 1.8 VVT-i Luna',
 'Model_Corolla XLE',
 'Model_Corolla XLE (1.8L 4cyl 2A)',
 'Model_Corolla XSE (1.8L 4cyl 2A)',
 'Model_Corsa',
 'Model_Corvette ZR1',
 'Model_Countryman',
 'Model_Countryman Cooper FWD',
 'Model_Cr-V',
 'Model_Creta',
 'Model_Crown Victoria',
 'Model_Cruze 2 VCDi',
 'Model_Cube Krom',
 'Model_Cx-7',
 'Model_Dakota',
 'Model_Durango',
 'Model_Duster',
 'Model_E240',
 'Model_E250',
 'Model_E300',
 'Model_E320',
 'Model_E350',
 'Model_E400',
 'Model_E430',
 'Model_E500',
 'Model_E55',
 'Model_E550',
 'Model_E63',
 'Model_ES',
 'Model_ES 250',
 'Model_ES 300',
 'Model_ES 300 Off',
 'Model_ES 300H FWD',
 'Model_ES 330',
 'Model_ES 330 Sedan',
 'Model_ES 350',
 'Model_ES 350 Crafted Line FWD',
 'Model_ES 350 F Sport FWD',
 'Model_ES 350 FWD',
 'Model_ES 350 FWD Off',
 'Model_Echo Automatic',
 'Model_Econoline',
 'Model_Ecosport',
 'Model_Edge',
 'Model_Edge SE 4dr AWD (3.5L 6cyl 6A)',
 'Model_Edge SE 4dr FWD (3.5L 6cyl 6A)',
 'Model_Elantra',
 'Model_Elantra 1.6 GLS',
 'Model_Elantra 2 Limited',
 'Model_Elantra GLS',
 'Model_Elantra Limited',
 'Model_Elantra SE',
 'Model_Elantra Touring SE Automatic',
 'Model_Element',
 'Model_Element EX 4WD',
 'Model_Enclave',
 'Model_Enclave CX AWD',
 'Model_Enclave Leather AWD',
 'Model_Equinox',
 'Model_Equinox LT2',
 'Model_Escalade',
 'Model_Escape',
 'Model_Escape Limited',
 'Model_Escape S FWD',
 'Model_Escape SE',
 'Model_Escape Titanium FWD',
 'Model_Escape XLS',
 'Model_Expert',
 'Model_Explorer',
 'Model_Explorer 4 Sport Track Automatic',
 'Model_Explorer Sport Track',
 'Model_Explorer Sport Track Automatic',
 'Model_Express Cargo Van 1500',
 'Model_F-150',
 'Model_F-150 FX4',
 'Model_F-150 Platinum',
 'Model_F-150 SuperCrew',
 'Model_F-150 SuperCrew 4x4',
 'Model_F-150 XLT',
 'Model_F-250',
 'Model_F-Type 400 Sport AWD Convertible',
 'Model_FF',
 'Model_FJ Cruiser',
 'Model_FJ Cruiser 4X4 AT',
 'Model_FJ Cruiser Base 4x4',
 'Model_FR-V 2.0i VTEC',
 'Model_FX35',
 'Model_Fj Cruiser',
 'Model_Focus',
 'Model_Focus 1.6 Viva',
 'Model_Focus C-Max 1.8',
 'Model_Focus Matt',
 'Model_Focus SE',
 'Model_Ford Escape',
 'Model_Ford Explorer',
 'Model_Ford F-150',
 'Model_Forester',
 'Model_Forte',
 'Model_Forte EX',
 'Model_Forte SX',
 'Model_Forte SX Hatchback',
 'Model_Fortuner',
 'Model_Fortuner 2.7 AWD',
 'Model_Freestar Wagon SEL',
 'Model_Frontier',
 'Model_Frontier SVE V6 King Cab 4WD',
 'Model_Fullback',
 'Model_Fusion',
 'Model_Fx',
 'Model_G-Class',
 'Model_G-Class Base G 55 AMG 4x4',
 'Model_G-Class Base G 550 AWD',
 'Model_G-Class G 500',
 'Model_G-Class G 63 AMG',
 'Model_G-Class G 63 AMG 4MATIC',
 'Model_G-Class G 65 AMG 4MATIC',
 'Model_GA3',
 'Model_GL Class',
 'Model_GL Class 450',
 'Model_GL Class GL 450',
 'Model_GL Class GL 550',
 'Model_GL-Class',
 'Model_GL-Class GL 450',
 'Model_GL-Class GL 450 Off',
 'Model_GL-Class GL 550',
 'Model_GLA 250',
 'Model_GLA 250 SV Premium',
 'Model_GLA-Class',
 'Model_GLC-Class',
 'Model_GLE-Class',
 'Model_GLE-Class Matt',
 'Model_GLE43',
 'Model_GLK-Class',
 'Model_GLK-Class 350',
 'Model_GLK-Class 350 4MATIC',
 'Model_GLK-Class 350 SUV',
 'Model_GLK-Class wine',
 'Model_GLS-Class',
 'Model_GLS-Class GLS350d 4Matic',
 'Model_GLS-Class GLS450 4MATIC',
 'Model_GLS-Class GLS450 4Matic',
 'Model_GLS-Class GLS550 4MATIC',
 'Model_GLS-Class GLS550 4Matic',
 'Model_GLS-Class GLS63 AMG',
 'Model_GLS-Class Matt',
 'Model_GLS-Class Off',
 'Model_GMC Terrain',
 'Model_GMC Yukon Off',
 'Model_GS',
 'Model_GS 250',
 'Model_GS 300',
 'Model_GS 300 AWD',
 'Model_GS 300 Automatic',
 'Model_GS 300 Automatic Off',
 'Model_GS 350',
 'Model_GS 350 AWD',
 'Model_GS 350 Sedan',
 'Model_GS 430',
 'Model_GS 450h',
 'Model_GS8',
 'Model_GT-R Matt',
 'Model_GX',
 'Model_GX 460',
 'Model_GX 460 Base',
 'Model_GX 460 Luxury',
 'Model_GX 460 Matt',
 'Model_GX 460 Premium',
 'Model_GX 470',
 'Model_GX 470 Sport Utility',
 'Model_Galant',
 'Model_Genesis',
 'Model_Genesis 5 RWD',
 'Model_Ghibli',
 'Model_Ghost Base EWB',
 'Model_Golf',
 'Model_Golf 1.6',
 'Model_Golf 1.6 Comfortline',
 'Model_Golf 2 GLS 3-Door Automatic',
 'Model_Golf 2 Variant',
 'Model_Golf 2.3',
 'Model_Golf Plus 1.4i',
 'Model_Golf TDI 4-Door W/ Sun. & Nav.',
 'Model_GranSport',
 'Model_Grand Cherokee 3.7 Lao 4x4',
 'Model_Gs',
 'Model_H2 SUV Sport Utility',
 'Model_H3 SUV Sport Utility',
 'Model_HR-V',
 'Model_Hardbody',
 'Model_HiAce',
 'Model_Highlander',
 'Model_Highlander 3',
 'Model_Highlander 3.5L 4WD',
 'Model_Highlander 4x4',
 'Model_Highlander Base AWD',
 'Model_Highlander Base FWD',
 'Model_Highlander Hybrid',
 'Model_Highlander Hybrid Limited',
 'Model_Highlander LE 4dr SUV (2.7L 4cyl 6A)',
 'Model_Highlander Limited',
 'Model_Highlander Limited 3.5L 2WD',
 'Model_Highlander Limited 3.5l 4WD',
 'Model_Highlander Limited 4x4',
 'Model_Highlander Limited AWD',
 'Model_Highlander Limited V6',
 'Model_Highlander Limited V6 4x4',
 'Model_Highlander Limited V6 AWD',
 'Model_Highlander Limited V6 FWD',
 'Model_Highlander Off',
 'Model_Highlander Platinum AWD',
 'Model_Highlander SE',
 'Model_Highlander SE 3.5L 2WD',
 'Model_Highlander SE 3.5L 4WD',
 'Model_Highlander SE 4x2 V6 (3.5L 6cyl 8A)',
 'Model_Highlander SE 4x4 V6 (3.5L 6cyl 8A)',
 'Model_Highlander Sport',
 'Model_Highlander V6',
 'Model_Highlander V6 4x4',
 'Model_Highlander V6 AWD',
 'Model_Highlander V6 FWD',
 'Model_Highlander XLE',
 'Model_Highlander XLE 4x2 V6 (3.5L 6cyl 8A)',
 'Model_Highlander XLE 4x4 V6 (3.5L 6cyl 8A)',
 'Model_Highlander XLE AWD',
 'Model_Highlander XLE FWD',
 'Model_Highlander XLE V6 4x2 (3.5L 6cyl 6A)',
 'Model_Highlander XLE V6 4x4 (3.5L 6cyl 6A)',
 'Model_Hilux',
 'Model_Hilux 2 VVT-i',
 'Model_Hilux 2.5 D-4d Double Cab',
 'Model_Hilux 2.5 D-4d SRX',
 'Model_Hilux 2.7 VVT-i 4X4 SRX',
 'Model_Hilux 4X4',
 'Model_Hilux SR',
 'Model_Hilux SR 4x4',
 'Model_Hilux SR+ 4x4',
 'Model_Hilux SR5 4x4',
 'Model_Hilux SR5 HI-RIDER',
 'Model_Hilux SR5 HI-Rider',
 'Model_Hilux SR5+ 4x4',
 'Model_Hyundai Creta',
 'Model_Hyundai Palisade',
 'Model_Hyundai Sonata SEL Plus',
 'Model_I Automatic',
 'Model_I10',
 'Model_I10 1.2',
 'Model_I8 1.5 Coupe',
 'Model_ILX',
 'Model_ILX Base FWD (2.0L 4cyl 5A)',
 'Model_IS',
 'Model_IS 200 Automatic',
 'Model_IS 200 Limited',
 'Model_IS 200t',
 'Model_IS 250',
 'Model_IS 250 4WD',
 'Model_IS 250 AWD',
 'Model_IS 250 AWD Automatic',
 'Model_IS 250 Automatic',
 'Model_IS 250c',
 'Model_IS 300 AWD',
 'Model_IS 350',
 'Model_IS 350 AWD',
 'Model_IS 350 C',
 'Model_Impala',
 'Model_Infiniti QX',
 'Model_Ix35',
 'Model_Ix35 2 CRDI',
 'Model_JAC S2',
 'Model_JX',
 'Model_JX 35 AWD',
 'Model_Jetta',
 'Model_Jetta 2.0T GLI SEL',
 'Model_Jetta 2.5 S',
 'Model_Jetta 2.5 SEL',
 'Model_Jetta S',
 'Model_Journey',
 'Model_Kangoo',
 'Model_Kia Cerato',
 'Model_L200',
 'Model_L200 Club Cab 2 4WD',
 'Model_L200 Double Cab 2.5 136hp',
 'Model_L200 Double Cab 2.5 180hp 4WD',
 'Model_LC',
 'Model_LC 500 RWD',
 'Model_LS',
 'Model_LS 460',
 'Model_LS 460 L Luxury Sedan',
 'Model_LS 460 L RWD',
 'Model_LS 460 Luxury Sedan',
 'Model_LX',
 'Model_LX 450d AWD',
 'Model_LX 470 AWD',
 'Model_LX 570',
 'Model_LX 570 (5 Seats) AWD',
 'Model_LX 570 (5 Seats) AWD Matt',
 'Model_LX 570 (5 seats) AWD',
 'Model_LX 570 AWD',
 'Model_LX 570 Base',
 'Model_LX 570 Three-Row',
 'Model_Lamborghini Huracan Evo Matt',
 'Model_Lamborghini Urus',
 'Model_Land',
 'Model_Land Cruiser',
 'Model_Land Cruiser 100 4.7 Executive',
 'Model_Land Cruiser 3.5 V6',
 'Model_Land Cruiser 4 V6 GX-R',
 'Model_Land Cruiser 4 V6 GXR',
 'Model_Land Cruiser 4.5 V8 GX-R Off',
 'Model_Land Cruiser 4.5 V8 GXR',
 'Model_Land Cruiser 4.5 V8 VXR',
 'Model_Land Cruiser 4.6 V8 EXR',
 'Model_Land Cruiser 4.6 V8 GX',
 'Model_Land Cruiser 4.6 V8 GXR',
 'Model_Land Cruiser 5.7 4WD',
 'Model_Land Cruiser 5.7 V8',
 'Model_Land Cruiser 5.7 V8 GXR',
 'Model_Land Cruiser 5.7 V8 VX-S',
 'Model_Land Cruiser 5.7 V8 VXR',
 'Model_Land Cruiser 90 Automatic',
 'Model_Land Cruiser J300 4',
 'Model_Land Cruiser Prado',
 'Model_Land Cruiser Prado 2.7',
 'Model_Land Cruiser Prado 2.7 I',
 'Model_Land Cruiser Prado 2.7 I 16V',
 'Model_Land Cruiser Prado 2.7 i',
 'Model_Land Cruiser Prado 2.7 i 16V',
 'Model_Land Cruiser Prado 2.8',
 'Model_Land Cruiser Prado 3 172hp',
 'Model_Land Cruiser Prado 3 D-4d (190 Hp)',
 'Model_Land Cruiser Prado 3 D-4d (190 Hp) 7 Seats',
 'Model_Land Cruiser Prado 3 TD',
 'Model_Land Cruiser Prado 4',
 'Model_Land Cruiser Prado 4 I',
 'Model_Land Cruiser Prado 4 V6 5dr',
 'Model_Land Cruiser Prado 4 V6 Dual VVT-i',
 'Model_Land Cruiser Prado 4 i',
 'Model_Land Cruiser Prado EXR',
 'Model_Land Cruiser Prado GXL',
 'Model_Land Cruiser Prado VX',
 'Model_Land Cruiser Prado VXR',
 'Model_Land Rover Defender',
 'Model_Legacy',
 'Model_Legend 3.7 V6',
 'Model_Levante',
 'Model_Levante GranSport AWD',
 'Model_Liberty',
 'Model_Liberty 2.4',
 'Model_Liberty Limited',
 'Model_Liberty Limited 4WD',
 'Model_Long XMQ',
 'Model_Luling',
 'Model_Lx',
 'Model_Lx 570',
 'Model_M Class',
 'Model_M Class Edition 10 ML 350 4Matic',
 'Model_M Class ML 320',
 'Model_M Class ML 350',
 'Model_M Class ML 350 4Matic',
 'Model_M Class ML 350 4Matic Matt',
 'Model_M Class ML 350 4Matic Off',
 'Model_M Class ML 350 4x2',
 'Model_M Class ML 350 TEC 4Matic',
 'Model_M Class ML 500 4Matic',
 'Model_M Class ML 550 4Matic',
 'Model_M Class ML 63 AMG',
 'Model_M Class ML320 TEC AWD 4MATIC',
 'Model_M Class ML350 4x2',
 'Model_M Class ML350 AWD 4MATIC',
 'Model_M3',
 'Model_M3 Coupe',
 'Model_M5',
 'Model_MDX',

In [28]:
#split the data

x = df.drop(['Amount (Million Naira)','Location','Model','Maker','Type','Colour'],axis=1)
y = df['Amount (Million Naira)']

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [30]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5764, 2), (1441, 2), (5764,), (1441,))

In [31]:
#Model training

In [32]:
from sklearn.ensemble import RandomForestRegressor

from sklearn.tree import DecisionTreeRegressor

from sklearn.linear_model import LinearRegression

from sklearn.linear_model import Lasso

from sklearn.linear_model import Ridge

from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import MinMaxScaler

from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [33]:
#put models in a dictionary

models = {"DecisionTree Regressor":DecisionTreeRegressor(),"Random Forest":RandomForestRegressor(),"Ridge":Ridge(alpha=0.5),"Lasso":Lasso(alpha=0.5)}

In [34]:
#set up a function to fit and score model
def fit_and_score(models,x_train, x_test, y_train, y_test):
    np.random.seed(42)#setting up a random seed
    model_scores = {}
    for name,model in models.items():
        model.fit(x_train,y_train) #fitting the model to the data
        model_scores[name] = model.score(x_test,y_test) #evaluate the mode and append its score to model_scores
    return model_scores

In [35]:
import numpy as np

In [36]:
scores = fit_and_score(models,x_train, x_test, y_train, y_test)
scores

{'DecisionTree Regressor': 0.18237786103904485,
 'Random Forest': 0.29340746143136354,
 'Ridge': 0.18419356754759242,
 'Lasso': 0.18425530262972578}

In [37]:
model_compare = pd.DataFrame(scores,index['R2_Score'])
model_compare.T.plot.bar()

NameError: name 'index' is not defined

In [ ]:
#feature scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
#Min Max scaling scales the features to a specific range, usually between 0 and 1. 
#It is particularly useful when there are outliers in the data and we want to preserve the relative ordernig of the values

In [ ]:
x_train_scaled = scaler.fit_transform(x_train)
x_test_scale = scaler.fit_transform(x_test)

In [ ]:
model2 = DecisionTreeRegressor()
model2.fit(x_train_scaled,y_train)
model2.score(x_test_scaled,y_test)
y_preds = model2.predict(x_test_scaled)
y_preds

In [ ]:
Model Evaluation

Regression model evaluation metrics

R^2 or coefficient of determination - compares your models predictions to the mean of the targets.
Values can range from negative infinity (a very poor model) to 1. for example if all your model does is predict the mean of the targets. It's R^2 values would be 0. 
And if your model perfectly predicts a range of numbers its R^2 value would be 1.

Mean absolute error (MAE) - The avg of absolute difference between predictions and actual values. It gives you an idea of how wrong your predictions were. 

Mean square error (MSE) - The avg squared difference between predictions and actual values. Squaring the errors removes negative errors. It also amplifies outliers (samples which have larger errors)

In [ ]:
#model evaluation

mse = mean_squared_error(y_test,y_preds)
mse

In [ ]:
np.sqrt(mse)

In [ ]:
mae = mean_absolute_error(y_test,y_preds)
mae

In [ ]:
df2 = pd.DataFrame(data={"actual values":y_test,"predictions":y_preds})
df2

In [ ]:
the prediction values can be improved using hyper parameters on the model training

In [ ]:
model2.feature_importances_

In [ ]:
#creating a function for visualising the feature importances
def plot_importances(columns,importances, n=10):
    df3 = (pd.DataFrame({'features':columns,'feature_importances':importances}.sort_values('feature_importances',ascending=False).reset_index(drop=False))
    fig, ax = plt.subplots(figsize=(10,5)) #plot the df
    ax = sns.barplot(x='feature_importances',y='features',data=df3[:n],orient='h')
    plt.ylabel('features')
    plt.xlabel('feature_importances')

In [ ]:
plot_importances(x_train.columns,model2.feature_importances_)

Penalization Methods

Regularization is a method used to make complex models simpler by penalising coefficients to reduce their magnitude, variance in the training set and in turn reduce overfitting in the model. 

Regularization occurs by shrinking the coefficients in the model towards zero such that the complexity term added to the model will result in a bigger loss for models with a higher complexity. 

There are 2 types of regression techniques such as Ridge Regression and Lasso Regression

Ridge Regression
Also known as L2 regularisation, this is a technique that uses a penality term to shrink the magnitude of coefficients towards zero without eliminating them. 
The shrinkage prevents overfitting caused by the complexity of the model or collinearity.
It includes the square magnitude of the coefficients to the loss function as the penalty term. 
If the error is defined as the square of residual, when L2 regularization term is added, the result is the equation below. 
As lambda increases the penalty increases causing more coefficients to shrink in the same vein, if lambda is zero, it results in the loss function.

In [ ]:
from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train,y_train)

Feature selection and LASSO regression
Also known as L1 regularisation
Some datasets can be high dimensional with a very high number of features and some of them not contributing towards predicting the response variable. 
As a result, it becomes more computationally expensive to train a model and can also introduce noise causing the model to perform poorly. The process of selecting significant features that contribute the most in obtaining high performing models is known as feature selection.

LASSO - LEAST ABSOLUTE SHRINKAGE AND SELECTION OPERATOR

Lasso regression reduces overfitting of the dataset by penalising the coefficients such that some coefficients are shrunk to zero and indirectly performs feature selection by selecting only a subset of features leaving only relevant variables that minimize prediction errors. 

By using L1 regularisation, it includes the absolute value of the magnitude to the loss function. 

The application of L1 regularisation results in simpler and sparse models that allow for better interpretation.

Although, Lasso regression helps prevent overfitting, one major limitation is that it does not consider other factors when eliminating predictors. For example, it arbitrarily eliminates a variable from a correlated pair that might not be a good rational from a human perspective.

In [ ]:
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train,y_train)

#comparing the effects of regularisation
def get_weights_df(model,feat,col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_,feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features','col_name']
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train,'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg,x_train,'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg,x_train,'Lasso_Weight')
final_weights = pd.merge(linear_model_weights,ridge_weights_df,on='Features')
final_weights = pd.merge(final_weights,lasso_weights_df,on='Features')

Elastic Net Regression

This is a combination of L1 and L2 penalities from ridge and lasso regression. This method arose from the need to overcome the limitations of lasso regression. It regularizes and performs feature selection simultaneously by initially finding the optimal values of the coefficients as in ridge then performs a shrinkage.

Non-Linear Regression Methods and other Recommendations

Model tuning and choosing parameters

ML models are parameterized such that there has to be a search for the combination of parameters that will result in the optimal performance of the model. The parameters that define the model architecture are referred to as hyperparameters while the process of exploring a range of values is called hyperparameter tuning. 

It is important to note the distinction between model parameters and hyperparameters.
Unlike hyperparameters, model parameters are learnt during the training phase while setting hyperparameters is exclusive of the training process. 

Ideally, when hyperparameter tuning is completed, the result is the best parameters for the model. Grid search and random search are two common strategies for tuning hyperparameters. 

Grid Search
Grid search explores the combination of a grid of parameters such that for every combination of parameters, a model is built and evaluated then the model with the best result selected and its corresponding parameters. While it is computationally expensive, setting up a grid search is quite easy.

Random Search

As opposed to grid search, random search randomly combines parameter values in the grid to build and evaluate models. It does not sequentially combine all parameters as in grid search instead, it allows for a quick exploration of the entire action space tor reach optimal values. 

Data splitting
This involves setting aside a portion of the dataset for testing that is out of sample of hold out and evaluating the performance of the model to provide unbiased results while the rest is used in fitting the model. 

The proportion of division is solely based on choice and sometimes, the size of the dataset. 

However, a common practice is to split the dataset into training, validation or dev and testing sets where the validation set is used to tune the hyperparameters to select the best values for the model. 

Resampling involves repeatedly selecting samples from the orginal dataset and using these samples to obtain more information about the model. This can create different samples of the training set and another for evaluation. Cross validation is a method used to generalise and prevent overfitting in ML.