In [1]:
#Installing Jupyter Notebook Using Google Colaboratory & Anaconda
#Jupyter Notebook commands
#first press esc

Once in command mode:

Scroll up and down your cells with your Up and Down keys.

Press A or B to insert a new cell above or below the active cell.

M will transform the active cell to a Markdown cell.

Y will set the active cell to a code cell.

D + D (D twice) will delete the active cell.

Z will undo cell deletion.

Hold Shift and press Up or Down to select multiple cells at once. With multiple cells selected, Shift + M will merge your selection.

Ctrl + Shift + -, in edit mode, will split the active cell at the cursor.

You can also click and Shift + Click in the margin to the left of your cells to select them.

In [2]:
a = 5

In [3]:
b = 2

c = a+b

print(c)

7

In [4]:
#Python Basics

In [5]:
#declaration
school = 'Hamoye one school'

In [6]:
#cannot concatenate a string and a number

In [7]:
first_name = 'femi'

print('my name is {}'.format(first_name))

my name is femi

In [8]:
print("Hellow {}, you are +{} today".format(first_name,1))

Hellow femi, you are +1 today

In [9]:
print(f"hello {first_name}")

hello femi

In [10]:
word = "animal"

In [11]:
word[0]

'a'

In [12]:
word[1]

'n'

In [13]:
word[0:2]

'an'

In [14]:
#string manipulation

In [15]:
first = 'ayomide'
first.title()

'Ayomide'

In [16]:
print("arundarasi".upper())

ARUNDARASI

In [17]:
print("rRJANEDN".lower())

rrjanedn

In [18]:
w = 'I am not Arundarasi Rajendran!'
print(w)

I am not Arundarasi Rajendran!

In [19]:

print(w.replace('!','.'))

I am not Arundarasi Rajendran.

In [20]:
sentence = "welcome to hamoye internship"

print(sentence.find('ship'))
#returns index of character or word in sentence

24

https://docs.python.org/3/tutorial/datastructures.html

In [21]:
#LISTS
#A list is a data structure in Python that is a mutable, ordered sequence of elements.

In [22]:
names = ['Tom','Anna']

In [23]:
print(names[0])

Tom

In [24]:
list1 = [2, 9.7, "word", True]

In [25]:
list2 = ['cat','dog',['fish','crocodile'],70]

In [26]:
print(list2[2])

['fish', 'crocodile']

In [27]:
print(list2[0])

cat

In [28]:
list2=list1[2]

In [29]:
print(list2[0])

w

In [30]:
student1 = ['Tom','24','CS']

student1 = [25]

print(student1)

[25]

In [31]:
#list functions

sort(): Sorts the list in ascending order.
type(list): It returns the class type of an object.
append(): Adds a single element to a list.
extend(): Adds multiple elements to a list.
index(): Returns the first appearance of the specified value.
max(list): It returns an item from the list with max value.
min(list): It returns an item from the list with min value.
len(list): It gives the total length of the list.
list(seq): Converts a tuple into a list.
cmp(list1, list2): It compares elements of both lists list1 and list2.

In [32]:
prices = [23.5, 4, 2.5,9.0]

In [33]:
prices.sort()

In [34]:
prices

[2.5, 4, 9.0, 23.5]

In [35]:
type(prices)

list

In [36]:
lt = [2,9.7,"word",True]

In [37]:
type(lt)

list

In [38]:
weekdays = ['Monday','Tuesday']

weekdays.append('Wednesday')

In [39]:
weekdays

['Monday', 'Tuesday', 'Wednesday']

In [40]:
weekdays.extend(['Thursday','Friday'])

In [41]:
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [42]:
weekdays.index("Wednesday")

2

In [43]:
Ages = [3,5,7]

In [44]:
print("{} is the highest age".format(max(Ages)))

7 is the highest age

In [45]:
print(f"{min(Ages)} is the highest age")

3 is the highest age

In [46]:
len(weekdays)

5

In [47]:
#the list function takes an iterable construct and turns it into a list

In [48]:
s1 = 'Python'

In [49]:
list1 = list(s1)

In [50]:
list1

['P', 'y', 't', 'h', 'o', 'n']

In [51]:
s2 = 'Lython'

In [52]:
list2 = list(s2)

In [53]:
list2

['L', 'y', 't', 'h', 'o', 'n']

In [54]:
#TUPLES
#An ordered sequence of items, and they cannot be changed (immutable)
#you cannot add or remove values
#you can find elements in a tuple
#you can also use the in operator to check if an element exists in tuple

In [55]:
#declaration

empty_tuple = ()

In [56]:
emp_tuple = tuple()

In [57]:
#you can access values in tuple

In [58]:
scores = (2.4, 6.9, 3.6, 8.3, 2.0, 4.5)

In [59]:
scores[4]

2.0

In [60]:
#you can add two tuples together to create a new tuple

In [61]:
t1 = (2.4,6.9,3.6,8.3,2.0,4.5)
t2 = (1,2,3,4,5,6)

In [62]:
new = t1+t2

In [63]:
new

(2.4, 6.9, 3.6, 8.3, 2.0, 4.5, 1, 2, 3, 4, 5, 6)

In [64]:
#you can delete a tuple by using the del keyword followed by the name of the tuple

In [65]:
del t1

In [66]:
t1

NameError: name 't1' is not defined

In [ ]:
#SETS
#An unordered collection of unique items, does not allow duplicate items, they are unindexed (cannot access via index) and they are mutable.
#Commonly used for computing mathematical operations like union, intersection, difference, and symmetric difference.
#you can add or remove values

In [67]:
#declaration
c = {'red','blue','green'}
c

{'blue', 'green', 'red'}

In [68]:
c1 = set(['red','green','orange'])
c1

{'green', 'orange', 'red'}

In [69]:
c2 = set(['red','black','black','orange','pink'])
c2

{'black', 'orange', 'pink', 'red'}

In [70]:
c3 = list(c2)
c3

['black', 'red', 'pink', 'orange']

In [71]:
name = {'Arunda','Rajendran','Sasikala','Ambaal'}

In [72]:
name.add('Satish')

In [73]:
name

{'Ambaal', 'Arunda', 'Rajendran', 'Sasikala', 'Satish'}

In [74]:
name.update(['Jagan','Sony','Jayamalini','Yamini','Agilan','Sittappa'])

In [75]:
name

{'Agilan',
 'Ambaal',
 'Arunda',
 'Jagan',
 'Jayamalini',
 'Rajendran',
 'Sasikala',
 'Satish',
 'Sittappa',
 'Sony',
 'Yamini'}

In [76]:
name.remove('Sittappa')

In [77]:
name

{'Agilan',
 'Ambaal',
 'Arunda',
 'Jagan',
 'Jayamalini',
 'Rajendran',
 'Sasikala',
 'Satish',
 'Sony',
 'Yamini'}

In [78]:
name.discard('Sony')

In [79]:
name

{'Agilan',
 'Ambaal',
 'Arunda',
 'Jagan',
 'Jayamalini',
 'Rajendran',
 'Sasikala',
 'Satish',
 'Yamini'}

In [80]:
colors = set(['red','black','white','green'])

In [81]:
len(colors)

4

In [82]:
#you can perform set operations

In [83]:
#set union

In [84]:
A={'red','green','blue'}
B={'yellow','red','orange'}

In [85]:
print(A|B)

{'red', 'green', 'blue', 'yellow', 'orange'}

In [86]:
print(A.union(B))

{'red', 'green', 'blue', 'yellow', 'orange'}

In [87]:
#set intersection

In [88]:
print(A&B)

{'red'}

In [89]:
print(A.intersection(B))

{'red'}

In [90]:
print(A.intersection_update(B))

None

In [91]:
#set difference

In [92]:
print(A-B)

set()

In [93]:
print(A.difference(B))

set()

In [94]:
print(A.difference_update(B))

None

In [95]:
#set symmetric difference between two or more sets

In [96]:
print(A^B)

{'red', 'orange', 'yellow'}

In [97]:
print(A.symmetric_difference(B))

{'red', 'orange', 'yellow'}

In [98]:
print(A.symmetric_difference_update(B))

None

In [99]:
#check if two sets have elements in common

In [100]:
print(A.isdisjoint(B))

False

In [101]:
#check if one set is a subset of other

In [102]:
print(A.issubset(B))

True

In [103]:
#check if one set is a superset of the other

In [104]:
print(A.issuperset(B))

True

In [105]:
#DICTIONARIES
#Dictionaries are Pythons implementation of a data structure,generally known as associative arrays, hashes, or hashmaps. 
#Think of a dictionary as a mapping between a set of indexes (known as keys) and a set of values. Each key maps to a value.
#it contains key value pairs or somtimes an item.

In [106]:
#declaration
e1 = {'name':'Arunda','Age':23,'Internship track':'Data Science','city':'Kampala'}

In [107]:
print(e1)

{'name': 'Arunda', 'Age': 23, 'Internship track': 'Data Science', 'city': 'Kampala'}

In [108]:
keys = ['ID','Role','Salary']
values = ['Tom','Accountant','50000']
D = dict(zip(keys,values))
D

{'ID': 'Tom', 'Role': 'Accountant', 'Salary': '50000'}

In [109]:
#important properties of a dictionary
#few points you should be aware of when using them
#keys must be unique
#a key can appear in a dictionary only once

In [110]:
#Even if you specify a key more than once during the creation of a dictionary, the last value for that key becomes the associated value.

e1 = {'name':'Arunda','Age':23,'Internship track':'Data Science','city':'Kampala','name':'Tara'}

In [111]:
e1

{'name': 'Tara',
 'Age': 23,
 'Internship track': 'Data Science',
 'city': 'Kampala'}

In [112]:
#access dictionary items using the key name not indexes
e1['Age']

23

In [113]:
e1.get('name')

'Tara'

In [114]:
e1.get('Salary')
#prints nothing

In [115]:
#you can add or update dictionary items

In [116]:
D = {'Name':'Bob','Age':25,'Job':'Devops'}
D

{'Name': 'Bob', 'Age': 25, 'Job': 'Devops'}

In [117]:
#updating
D['Name']='Sam'

In [118]:
D

{'Name': 'Sam', 'Age': 25, 'Job': 'Devops'}

In [119]:
#adding
D['Salary'] = 50000

In [120]:
D

{'Name': 'Sam', 'Age': 25, 'Job': 'Devops', 'Salary': 50000}

In [121]:
#merge two dictionaries
D1 = {'name':'Bob','age':25,'job':'Dev'}
D2 = {'age':38,'city':'New York','email':'bob@web.com'}

In [122]:
D1.update(D2)

In [123]:
D1

{'name': 'Bob',
 'age': 38,
 'job': 'Dev',
 'city': 'New York',
 'email': 'bob@web.com'}

In [124]:
#remove dictionary items
#1. remove an item by key - use pop()

D = {'Name':'Bob','Age':25,'Job':'Devops'}
x = D.pop('Age')
D

{'Name': 'Bob', 'Job': 'Devops'}

In [125]:
#removed value
print(x)

25

In [126]:
#2. if you do not want removed value - use del statement
D = {'Name':'Bob','Age':25,'Job':'Devops'}

del D['Name']

In [127]:
D

{'Age': 25, 'Job': 'Devops'}

In [128]:
#3. Remove all items
D = {'Name':'Bob','Age':25,'Job':'Devops'}
D

{'Name': 'Bob', 'Age': 25, 'Job': 'Devops'}

In [129]:
D.clear()
D

{}

In [130]:
#WHILE LOOPS
x = 10

while x>0:
    print(x)
    x = x-1
    print("go!")

10
go!
9
go!
8
go!
7
go!
6
go!
5
go!
4
go!
3
go!
2
go!
1
go!

#PYTHON BREAK AND CONTINUE STATEMENTS

BREAK - The Python break statement immediately terminates a loop entirely. Program execution proceeds to the first statement following the loop body.
CONTINUE -  The Python continue statement immediately terminates the current loop iteration. Execution jumps to the top of the loop, and the controlling expression is re-evaluated to determine whether the loop will execute again or terminate.

In [131]:
#BREAK
x = 0
n=10
while x<=n:
    print(x)
    if x==4:
        break
    x=x+1

0
1
2
3
4

In [132]:
#CONTINUE
n=5
while n>0:
    n=n-1
    if n==2:
        continue
    print(n)
    
print('Loop ended.')

4
3
1
0
Loop ended.

In [134]:
#Functions

#first step to code reuse
#allow you to define a reusable block of code that can be used repeatedly in a program.
#python provides several built-in functions such as print(),len() or type() but you can also define your own functions to use within your programs.

In [135]:
#declaration

#def function_name(arguments):
#    statement
#    return value


#function_name is the name of the function you wish to define, it has the same naming convention as a variable
#statement is the function's body, it is executed whenever the function is called
#return value ends the function call and sends data back to the program

#pass arguments
#you can send information to a function by passing values, known as arguments. 
#Arguments are declared after the function name in parentheses. 
#When you call a function with arguments, the values of those arguments are copied to their corresponding parameters inside the function. 
#you can send as many arguemnts as you like seperated by commas

def name(n):
    print(n)

s = 'Arunda'
name(s)

Arunda

In [136]:
#types of arguments

In [137]:
#1.positional arguments
#most common one, whose values are copied to their corresponding parameters in order

In [138]:
def func(name,job):
    print(name,'is a',job)

func('Bob','developer')
#the only downside of positional arguments is that you need to pass arguments in the order in which they are defined.

Bob is a developer

In [139]:
#2.Keyword arguments
#to avoid positional argument confusion, you can pass arguments using the names of their corresponding parameters
#in this case, the order of the arguments no longer matters because arguments are matched by name, not by position.

In [140]:
func(name='Tom',job='computer programmer')

Tom is a computer programmer

In [141]:
func(job='business analyst',name='Arunda')

Arunda is a business analyst

In [142]:
#3.Default arguments
#you can specify default values for arguments when defining a function
#the default value is used if the function is called without a corresponding argument 
#in short, defaults allow you to make selected arguments optional

In [145]:
def func(name,job='developer'):
    print(name,'is a',job)

In [146]:
func('Bob','Manager')

Bob is a Manager

In [147]:
func('Riya')

Riya is a developer

In [148]:
#4.variable length positional arguments 

#(*args)

#variable length arguments are useful when you want to create functions that take an unlimited number of arguments.
#unlimited like you do not know beforehand how many arguments can be passed to your function by the user.
#this is referred to as var-args *args

#when you prefix a parameter with an asterisk *, it collects all the unmatched positional arguments into a tuple. 
#Due to the fact that it is a normal tuple object, you can perform any operation that a tuple supports, like indexing, iteration etc.

In [149]:
def print_arguments(*args):
    print(args)
    
print_arguments(1,54,60,8,98,12)

#args can also be another name but it must have * at the beginning

(1, 54, 60, 8, 98, 12)

In [151]:
#(**kwargs)

#The ** syntax is similar, but it only works for keyword arguments.
#it collects them into a new dictionary, where the argument names are the keys, and their values are the corresponding dictionary values.

In [152]:
def print_arguments(**kwargs):
    print(kwargs)
    
print_arguments(name='Bob',age=25,job='dev')

{'name': 'Bob', 'age': 25, 'job': 'dev'}

In [153]:
#RETURN VALUE
#to return a value from a function, simply use a return statement. 
#once a return statement is executed, nothing else in the function body is executed

#NOTE: A python function always returns a value so, if you do not include any return statement, it automatically returns NONE
def sum(a,b):
    c=a+b
    return c

s = sum(2,3)
print(s)

5

In [155]:
#RETURN MULTIPLE VALUES

#Python has the ability to return multiple values, something missing from many other languages. you can do this by separating return values with a comma.

def func(a,b):
    return a-b,a+b

result = func(3,2)
print(result)

(1, 5)

In [159]:
#DOCSTRING

#you can attach documentation to a function definition by including a string literal just after the function header.Docstrings are usually triple quoted to allow for multi-line descriptions. 


def hello():
    """This function prints
            message on the screen"""
    print("hello world!")

In [160]:
help(hello)

Help on function hello in module __main__:

hello()
    This function prints
    message on the screen

In [161]:
#PYTHON CLASSES
#classes and objects are the two main aspects of Object oriented programming
# a class is a blueprint from which individual objects are created.
#in real world, there may be thousands of cars in existence, all of the same make and model.
#each car was built from the same set of blueprints, and therefore contains the same components. 
#in object oriented terms, we say that your car is an instance(object) of the class CAR.

In [162]:
#creating a class
#to create your own custom object in python, you first need to define a class, using the keyword class

In [164]:
class car:
    pass

In [165]:
#here the pass statement is used to indicate that this class is empty

In [166]:
# the __init__() method
#this is the special method that initializes an individual object 
#this method runs automatically each time an object of a class is created
#this method is generally used to perform operations that are necessary before the object is created

class Car:
    def __init__(self):
        pass
    
#The self parameter must be the first parameter always when you define an init method

#The self parameter refers to the individual object itself. It is used to fetch or set attributes of the particular instance/

#this paramter does not have to be called self, you can call it anything else.

attributes
every class you write in python has 2 basic features attributes and methods

attributes = they are the individual things that differentiate one object from another. They determine the appearance, state, or other qualities of that obejct

they are defined in classes by variables and each object can have its own values for those variables


there are two types of attributes
1. instance attribute
2. class attribute

In [167]:
#instance attribute - the instance attribute is a variable that is unique to each object(instance). 
#Every object of that class has its own copy of that variable. 
#Any changes made to the variable do not reflect in other objects of that class.

class Car:
    #initializer with instance attributes
    def __init__(self,color,style):
        #instance attributes
        self.color=color
        self.style=style
        
#initializer with instance attributes
#a class with two instance attributes

In [168]:
#class attribute - it is a variable that is the same for all objects. 
#there is only one copy of that variable that is shared with all objects
#any changes made to that variable will reflect in all other objects

In [169]:
class Car:
    wheels = 4 #class attribute
    def __init__(self,color,style):
        self.color=color
        self.style=style

In [170]:
#creating an object
#you create an object of a class by calling the class name and passing arguments as if it were a function

In [174]:
class Car:
    wheels=4
    def __init__(self,color,style):
        self.color = color
        self.style = style

    
c=Car('Black','Sedan')
#here we created a new object c from the car class by passing strings for the style (sedan) and color (black) parameters
#we did not pass the self argument
#when you create a new object, python automatically determines what self is (our newly-created object in this case) and passes it to the __init__ method.

In [175]:
#Attributes and modify attributes
#the attributes of an instance are accessed and assigned to by using dot notation

print(c.style)

Sedan

In [176]:
print(c.color)

Black

In [177]:
c.style = 'SUV'
print(c.style)

SUV

#METHODS
#methods determine what type of functionality a class has, how it handles its data, and its overall behavior.
#without methods, a class would simply be a structure
#in our case, the car class might have the following methods

1. change color
2. start engine
3. stop engine
4. change gear

#just as there are instance and class attributes, there are also instance and class methods.
#instance methods operate on an instance of a class, whereas class methods operate on the class itself.

In [186]:
#1. instance methods

#they are functions defined inside a class that operates on instances of that class

class car:
    wheels=4
    def __init__(self,color,style):
        self.color=color
        self.style=style
        
    def showDescription(self):
        print("This car is a ",self.color,self.style)
        
    def changeColor(self,color):
        self.color=color
    
c1=car('Black','Sedan')

In [187]:
c1.showDescription()

This car is a  Black Sedan

In [189]:
c1.changeColor('White')

In [190]:
c1.showDescription()

This car is a  White Sedan

In [192]:
#DELETE attributes and objects
#to delete any object attribute, use the del keyword

del c1.color

In [194]:
c1.changeColor('Red')

In [195]:
c1.showDescription()

This car is a  Red Sedan

In [196]:
#MODULES
#a module is a piece of software that has a specific functionality.
#when building ping pong game, one module would be responsible for the game logic, and another module would be responsible for drawing the game logic, and another module would be responsible for drawing the game on the screen. 
#Each module is a different file, which can be edited separately.

Important libraries in python for data science.
Here are libraries that will take you places in your journey with Python. These are also the Python libraries for Data Science.

1. Pandas

Like we’ve said before, Pandas is a must for data-science. It provides fast, expressive, and flexible data structures to easily (and intuitively) work with structured (tabular,multidimensional, potentially heterogeneous) and time-series data.

 2. NumPy

It has advanced math functions and a rudimentary scientific computing package.

3. Matplotlib

Matplotlib helps with data analyzing, and is a numerical plotting library. 

4. SciPy

SciPy has a number of user-friendly and efficient numerical routines. These include routines for optimization and numerical integration.

5. SciKit-Learn

This is an industry-standard for data science projects based in Python. Scikits is a group of packages in the SciPy Stack that were created for specific functionalities – for example, image processing. Scikit-learn uses the math operations of SciPy to expose a concise interface to the most common machine learning algorithms. 

Data scientists use it for handling standard machine learning and data mining tasks such as clustering, regression, model selection, dimensionality reduction, and classification. Another advantage? It comes with quality documentation and offers high performance. 

6. TensorFlow

TensorFlow is a popular Python framework for machine learning and deep learning, which was developed at Google Brain. It's the best tool for tasks like object identification, speech recognition, and many others. It helps in working with artificial neural networks that need to handle multiple data sets.

7.  PyTorch

PyTorch is a framework that is perfect for data scientists who want to perform deep learning tasks easily. The tool allows performing tensor computations with GPU acceleration. It's also used for other tasks – for example, for creating dynamic computational graphs and calculating gradients automatically.

Installing Libraries in python
Now we have seen python libraries and what they can be used for, lets see how we can install and use them. Here we are going to look at two different ways to install libraries in python.

1. Installing libraries in colab

One of the reasons colab is widely used is because it comes with some libraries for data science installed. There are times when you need to instal some libraries too.

To import a library that's not in a Colab by default, you can use !pip install or !apt-get install.

Pandas is installed in colab by default but i will use this to show you how to install libraries.

!pip install pandas

2. Installing libraries in Anaconda

You can also use the graphical interface Anaconda Navigator to install conda packages with just a few clicks.

Open an Anaconda Prompt (terminal on Linux or macOS) and follow these instructions.

Enter the command:

conda install package-name

To install pandas you can enter the command;

Conda install pandas

Note that you can also install packages/ libraries on a jupyter notebook using the pip too,

It uses the same syntax as colab

!pip install pandas

Importing libraries
To import a library you use the import statement. For example to import the pandas library you run the command;

import pandas

In python you can import a library and rename it. What this means is that, when you have a library and its name is complex or too long for you to remember you can rename it to something simple or short.

Syntax:

Import package_name as new_name

 Here is an example, 

import pandas as pd

You will notice as we go forward that this is the way most libraries will be imported.